/*  your css code here. If applicable */
body {
  background-color: #a259d3;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #5e2ca5;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #4c218c;
}

.stop {
  background-color: #432874;
}
